<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detalles</title>
</head>
<body>
<h1>
    Mostrar datos
</h1>
<div>
    ID:{{dato.id}}
    Nombre:{{dato.nombre}}
    Apellido:{{dato.apellido}}
    Fecha:{{dato.fecha_nac}}
</div>
</body>
</html>