{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prueba Template</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'estilos/estilo.css'%]">
</head>
<body>
<h1 class="primary">Hola desde pagina web Django</h1>
<div>
    <!--{{msg1}}-->
    No usuarios: {{no_datos}}
</div>
<div>
    <a href="datosNuevo">Agregar Datos</a>
</div>
<div>
    <ul>
        {% for dato in datos %}
        <li> {{dato.id}} {{dato.nombre}} {{dato.apellido}} {{dato.fecha_nac}}</li>
        <a href="mostrar_datos/{{dato.id}}">Ver datos</a>
        {% endfor %}

    </ul>
</div>
<div>
    <img src="https://i.pinimg.com/474x/b5/5e/d3/b55ed349d3b1f2f45c5ba70f898cb317.jpg">

</div>

<!--<h1>Hola desde un template</h1>-->

 <!--<header style="background: salmon; color: white;">
      <h1 >Encabezado</h1>
    </header>

    <nav style="background: pink; color: white; padding:5px 10px;">
      <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Nuestro equipo</a></li>
        <li><a href="#">Proyectos</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>

     </nav>


    <main style="background: green; color: white;">


      <section>
        <h2>Sección</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Donec a diam lectus. Set sit amet ipsum mauris. Maecenas congue ligula as quam viverra nec consectetur ant hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur.</p>

        <h3>Subsección</h3>

        <p>Donec ut librero sed accu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aenean ut gravida lorem. Ut turpis felis, pulvinar a semper sed, adipiscing id dolor.</p>

        <p>Pelientesque auctor nisi id magna consequat sagittis. Curabitur dapibus, enim sit amet elit pharetra tincidunt feugiat nist imperdiet. Ut convallis libero in urna ultrices accumsan. Donec sed odio eros.</p>

        <h3>Otra subsección</h3>

        <p>Donec viverra mi quis quam pulvinar at malesuada arcu rhoncus. Cum soclis natoque penatibus et manis dis parturient montes, nascetur ridiculus mus. In rutrum accumsan ultricies. Mauris vitae nisi at sem facilisis semper ac in est.</p>

        <p>Vivamus fermentum semper porta. Nunc diam velit, adipscing ut tristique vitae sagittis vel odio. Maecenas convallis ullamcorper ultricied. Curabitur ornare, ligula semper consectetur sagittis, nisi diam iaculis velit, is fringille sem nunc vet mi.</p>
      </section>

    </main>


    <footer style="background: salmon; color: white;">
      <p>©Copyright 2050 de nadie. Todos los derechos revertidos.</p>
    </footer>-->
</body>
</html>