<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nuevo Dato</title>
</head>
<body>
    <form method="POST">
        <table>
            {{formaDatos}}
        </table>
        <button type="submit"> Enviar</button>
        {% csrf_token %}
    </form>
</body>
</html>